.container-room-page {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 120px 1fr 400px;
    background-color: #efefef;
}

.column-1{
    border-right: 2px solid #E6E6E3;
}

.column-2{
    padding: 30px;
    width: 100%;
    height: 100%;
}

